---
title: Funcionalidad xRay
layout: layoutxray
---
.container
  .row
    .span8
      .title
        Demostración en línea de xHosp
    .row
      .span8
        .text
          Virtus Group© y su división de software médico y hospitalario, Virtus Medical©, se complacen en presentarle su producto xHosp© y lo invitan a conocerlo mediante está demostración.<br/>

          xHosp© es un sistema de cómputo integral para la administración hospitalaria, el cual le ayudara a automatizar todos los procesos técnicos y administrativos de su hospital.<br/>

          xHosp© está formado por diferentes módulos y hemos diseñado está demostración de la misma manera, lo cual le permitira conocer cada uno de los módulos y regresar a los que le sean de mayor interés; los módulos que forman xHosp© son:<br/>
