---
title: xRay
layout: layoutxray
---
.row
  .title
    xRay - Sistema para el control y operación de gabinetes de rayos X e imagenología<br/>
  .row
    %img{:src => "/images/xray.png", :alt => "xRay"}
  .row
    .text
      <br/>
      xLab es un sistema para el apoyo operacional y el control administrativo integral de un laboratorio de análisis clínicos.<br/>
        
      xLab es un producto desarrollado totalmente en México. El equipo de desarrollo de xLab constantemente está generando nuevas versiones del software que contienen funciones adicionales de acuerdo con las sugerencias y necesidades de nuestros clientes.<br/>
          
