---
title: xRay
layout: layoutxray
---
.row
  .title
    xRay  Sistema para el control y operación de gabinetes de rayos X e imagenología<br/>
  .row
    %img{:src => "/images/xray.png", :alt => "xRay"}
  .row
    .text
      <br/>
      xRay es un sistema para el apoyo operacional y el control administrativo integral de un gabinete de rayos X e imagenología.
      <br/>
        
      xRay proporciona una herramienta eficiente para el manejo de pacientes, la programación de citas por equipo y recurso, la interpretación de los estudios de imagenología y la administración de las diversas funciones de un gabinete de rayos X e imagenología.<br/>
      <br/>
      Cuenta con un acceso controlado para compartir la información de los pacientes, la transcripción de los estudios, la facturación de los cargos del gabinete y su cobranza en forma expedita.<br/>
      <br/>
      Incluye un control de inventarios para el manejo de los suministros utilizados dentro del servicio y un control de placas utilizadas.<br/>
      <br/>
      Permite la transcripción de la interpretación de los estudios con diversas herramientas de ayuda como captura guiada, teclas de función programables, archivos tipo machote, etc.<br/>
      <br/>
      El sistema xRay tiene la capacidad de conectarse a un sistema hospitalario de forma automática o por medio de interfaces para accesar o actualizar la información de pacientes, el expediente clínico y la información administrativa de facturación y cobranza.<br/>
          
