
body {
  &.principal {
    background-image: url(/images/back.jpg);

   }
  &.paginash {
    background-color: #328c2c;
   }
   &.paginasr {
    background-color: #844da0;
   }

  &.paginasl {
    background-color: #3f71b8;
   }
}

//configuración cuadros principales
.cuadro {
  padding-left: 120px;
  font-family: 'Questrial', arial, serif;
  font-size: 100%;
  color: black;
  line-height: 1.5;
  text-align: left;
  text-shadow: 2pt 1pt 3pt blue;
}
//images sidebar
.imgs {
    border: 0 none;
    margin-top: 30px;
    max-width: 100%;
    vertical-align: middle;
}

//titulo menu
.mtitle {
  font-family: 'Questrial', arial, serif;
  font-size: 180%;
  color: white;
  line-height: 1;
  text-align: rigth;
  padding-left: 10px;
  margin: 10px
}

.menu {

  font-family: 'Questrial', arial, serif;
  font-size: 140%;
  text-align: right;
}

.title {
  font-family: 'Questrial', arial, serif;
  font-size: 180%;
  line-height: 1;
  color: white;
  text-align: center;
  padding-bottom: 20px;
  text-shadow: 2pt 1pt 3pt green;
}

.titlep {
  font-family: 'Questrial', arial, serif;
  font-size: 180%;
  line-height: 1;
  text-align: left;
  padding-bottom: 20px;
}
//títulos módulos
.titlec {
  font-family: 'Questrial', arial, serif;
  font-size: 150%;
  color: white;
  line-height: 1;
  text-align: left;
  padding-bottom: 20px;
  text-shadow: 2pt 1pt 3pt #2f7753;
}



a {
    color: blue;
}
//todos los textos grales
.text {
  font-family: 'Questrial', arial, serif;
  font-size: 120%;
  color: white;
  line-height: 1.5;
  text-align: justify;
  text-shadow: 2pt 1pt 3pt #2f7753;
}

//textos contacto
.textc {
  font-family: 'Questrial', arial, serif;
  font-size: 120%;
  color: black;
  line-height: 1.5;
  text-align: justify;
  text-shadow: 2pt 1pt 3pt #2f7753;
}


.nav .nav-header {
  font-size: 16px;
}

li {
    line-height: 25px;
}

.hero-unit {
  padding: 15px
}

