!!! 5
%html
  %head
    %title= data.page.title || "Virtus Medical"
    %link(href='http://fonts.googleapis.com/css?family=Questrial&v1' rel='stylesheet' type='text/css')
    = stylesheet_link_tag "bootstrap","medical","qunit"
    = javascript_include_tag  "bootstrap"
   
    %script{:src => "http://ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.min.js"}
    %script{:src => "/javascripts/jquery.js"}
    %script{:src => "/javascripts/jquery.expander.js"}
 
   
  %body.paginasr
    .container    
      .header
        .row    
          .span12
            %img{:src => "/images/banner.png", :alt => "Virtus Medical"}       
        .row
          .mtitle
            La virtud de crear sistemas de información
    .container    
      .menu
        %ul.breadcrumb
          %li
            %a{:href => "/index.html"} Inicio
            %span.divider /
          %li
            %a{:href => "/pages/productos.html"} Productos
            %span.divider /
          %li
            %a{:href => "/pages/servicios.html"} Servicios
            %span.divider /
          
          %li
            %a{:href => "/pages/clientes.html"} Clientes
            %span.divider /
          %li
            %a{:href => "/pages/contacto.html"} Contacto

      .row
        .span12
          .container.fluid
            .row.fluid
              .span3
                .well.sidebar-nav
                  %ul.nav.nav-list
               
                    %li.nav-header 
                      %a{:href => "/xray/xray.html"} xray
                    %li
                      %a{:href => "/xray/caracteristicasr.html"} Características Generales
                    %li
                      %a{:href => "/xray/modulosr.html"} Módulos
                    %li
                      %a{:href => "/xray/funcionalidadr.html"} Funcionalidad
                    %li
                      %a{:href => "/xray/pdfr.html"} Obtenga información PDF
                    %li
                      %a{:href => "/xray/videosr.html"} Videos de demostración
                    %li
                      %a{:href => "/xray/contactor.html"} Solicite Información
                
                %a.btn.btn-large.btn-primary{:href => "/xhosp/xhosp.html"}
                  Ir a xHosp
                %a.btn.btn-large.btn-primary{:href => "/xlab/xlab.html"}
                  Ir a xLab <br/> 
                .imgs
                  %img{:src => "/images/xray.jpg", :alt => "Virtus Medical"}       
                
              .span8.offset1
                = yield

              

      

    :javascript
      $(document).ready(function() {
        var opts = {collapseTimer: 4000};
          $.each(['beforeExpand', 'afterExpand', 'onCollapse'], function(i, callback) {
          opts[callback] = function(byUser) {
            var by, msg = '' + callback;
  
            if (callback == 'onCollapse') {
              msg += ' (' + (byUser ? 'user' : 'timer') + ')';
            }
            msg += '';
  
            $(this).parent().parent().append(msg)
          }
        });
  
        $('dl.expander dd').eq(0).expander();
        $('dl.expander dd').slice(1).expander(opts);
  
  
        $('ul.expander li').expander({
          slicePoint: 100,
          widow: 4,
          expandSpeed: 0,
          userCollapseText: '[^]'
        });
  
        $('div.expander').expander();
      });       
 
