---
title: xHosp Clientes
layout: layout
---
.row
  .title
    Estos son algunos de nuestros clientes<br/>
.container
  .row
    .span4.offset1
      .text
        %ul
          %li
            Promotora Poblana de la Salud, S.A. de C.V. (Hospital Puebla) <br/>
          %li
            Clínica Médica Santa Rosa <br/>
          %li
            Hospital Orizaba<br/>
          %li
            Hospital Covadonga<br/>
          %li
            Hospital San Jorge <br/>
          %li
            HUPAEP (Hospital de la Universidad Autónoma del Estado de Puebla <br/>
          %li
            Medical Services International, S.A. de C.V. (Laboratorio Certus Tijuana) <br/>
          %li
            DICIPA (Distribuidor Científico Pallach) <br/>
          %li
            Laboratorio del Centro (Zamora) <br/>
    .span4.offset1
      .text
        %ul
          %li
            Laboratorios Clínicos de Mérida<br/>
          %li
            Patología  Especializada  (Guadalajara) <br/>
          %li
            Centro Diagnóstico Hatchett SA de CV (Veracruz) <br/>
          %li
            Laboratorio Clínicos Satélite S.C.<br/>
          %li
            Laboratorio Grupo Arari, B.C.S.<br/>
          %li
            Análisis Clínicos de Diagnóstico, S.C. (Torreón) <br/>
          %li
            LV Laboratorios Clínicos ,S.C. <br/>
          %li
            Laboratorio Bio-Químico López, S.C. <br/>
          %li
            Imagen Digital para el Diagnóstico <br/>













