---
title: Contacto Virtus Medical
layout: layout
---

.row


  .span8
    .hero-unit
      %iframe{:allowtransparency => "true", :frameborder => "0", :height => "400", :scrolling => "no", :src => "http://virtusweb.wufoo.com.mx/embed/w7x1p5/", :style => "width:100%;border:none"}

  .span4
    .textc
      .hero-unit  
        Dirección: <br/> Valle de Solís 33, Col.El Mirador<br/>
        Naucalpan de Juárez, C.P. 53050<br/>
        México,Estado de México.<br/>
        <br/>
        Teléfonos :<br/>
        Desde la Ciudad de México:<br/>
        * 5360-6059<br/>
        * 5373-4073<br/>
        Desde el interior de la Rep. Mexicana:<br/>
        * 01 55 5360-6059<br/>
        * 01 55 5373-4073<br/>
        
        Desde el extranjero:<br/>
        * +52 55-5360-6059<br/>
        * +52 55-5373-4073<br/>
        <br/>
        e-mail: info@virtusmedical.com.mx<br/>


