---
title: Virtus Medical Servicios
layout: layout
---
.container
  .row
    .title
      <br/>
      Virtus Medical le ofrece los siguientes servicios :
 
  .row
    .text
      .span4
        <br/>
        %img{:src => "/images/118867231.jpg", :alt => "xHosp"}
        <br/>
        Migración de datos<br/>
        Traspaso de información desde bases de datos o sistemas de otros provedores hacia nuestros sistemas xHosp, xLab y xRay.
      .span4
        <br/>
        %img{:src => "/images/111802164.jpg", :alt => "xLab"}
        Cambios a la medida<br/> 
        Desarrollo de nueva funcionalidad para nuestros sistemas, interfaces con equipos clínicos así como interfaces con otros sistemas contables y administrativos.<br/>
          
      .span4
        <br/>
        %img{:src => "/images/155037941.jpg", :alt => "xRay"}
        Soporte técnico<br/>
        Brindamos soporte técnico a los usuarios que cuentan con póliza de mantenimiento vigente.


          