---
title: Funcionalidad xHosp
layout: layoutxhosp
---

.container
  .row
    .expander
      .text
        1. MODULO DE ADMISION<br/>
        Este módulo permite atender al paciente desde su llegada al hospital, llevando a cabo los siguientes procesos
        %ul
          %li 
            Registro de Pacientes<br/>
          %li 
            Ingreso, transferencia y Egreso de Pacientes<br/>
          %li 
            Manejo de pacientes Internos y Ambulatorios <br/>
          %li 
            Manejo de pacientes particulares y de Convenio (Bancos y Seguros)<br/>
          %li
            Impresión de Convenios de admisión, contratos y pagarés <br/>
          %li
            Impresión de comprobantes de egresos y transferencia <br/>
          %li
            Impresión de censos y estadísticas de ocupación <br/>
          %li    
            Pantallas de consulta para apoyo a los servicios	<br/>
  .row
    .expander
      .text       
        2. MODULO DE QUIROFANOS<br/>
        El módulo de quirofanos esta diseñedo para llevar el control completo de los quirófanos, llevando a cabo las siguientes tareas.
        %ul
          %li 
            Programación de quirófanos: Reservación de cirugías<br/>
          %li 
            Consultas de disponibilidad de quirófanos y cirugías en proceso
          %li 
            Confirmación o registro de cirugías: fecha y hora de inicio, paciente, tipo y código de cirugía(s) de acuerdo al CIE-9, equipos especiales, etc.
          %li 
            Registro de médicos y enfermeras participantes: cirujano, anestesiólogo, pediatra, enfermeras, etc.
          %li 
            Consulta, cancelación y cambios de pacientes en quirófano
          %li 
            Salidas de artículos del almacén de quirófanos o centro de control hacia cada cirugía y asignación de material por cada médico participante (cirujano, anestesiólogo, etc.)
          %li 
            Solicitud de estudios a laboratorio o patología
          %li 
            Fin de cirugía y cálculo automático de cobro por uso de quirófano y cargos asociados
          %li 
            Devolución de material no utilizado por cada médico participante y conciliación de material utilizado para cobro al paciente con Vo.Bo. de parte del médico participante.
          %li 
            Registro de otros cobros de artículos o servicios




  .row
    .expander
      .text       
        3. MODULO DE ALMACENES<br/>
        Es módulo permite llevar el control de los almacenes, entradas y salidas de artículos.
        %ul
          %li 
            Solicitudes u órdenes de compras
          %li 
            Manejo de farmacias, almacenes y subalmacenes
          %li 
            Manejo de entradas de medicamentos y suministros (insumos)
          %li 
            Manejos de despachos de medicamentos y suministros: despacho a pacientes internos, externos, a servicios y a farmacias o almacenes dependientes 
          %li 
            Actualización automática de existencias (farmacia central y farmacias dependientes)
          %li 
            Actualización automática del estado de cuenta del paciente 
          %li 
            Impresión de comprobantes de despachos y entradas
          %li 
            Manejo de farmacia central (botiquín) y farmacias dependientes (centro de control)
          %li 
            Manejo de Inventarios Físicos: Impresión  de marbetes, captura de inventario físico e impresión de diferencias y ajustes 
          %li 
            Reportes mensuales de entradas, salidas y existencias valuadas
          %li 
            Actualización automática de precios de venta sobre la base de últimas entradas o por medio de archivo de precios de su proveedor.
          %li 
            Manejo de capas de costos utilizando el método UEPS.
          %li 
            Impresión y lectura de código de barras

                


  .row
    .expander
      .text 
        4. MODULO DE CAJA Y FACTURACION 
        %ul
          %li 
            Captura de cargos a pacientes internos, ambulatorios, externos y pacientes de urgencias e impresión de comprobantes de cargos en el área donde se genera el cargo.
          %li 
            Actualización de descuentos y créditos a empresas convenidas y a pacientes especiales (excepciones)
          %li 
            Cargo automático de cargos periódicos y "especiales”: cuartos, cargos extras por domingos y días festivos, cargos ligados al tipo  de cuarto (terapia intensiva), cargos por urgencias etc.
          %li 
            Captura y control de abonos de pacientes e impresión de comprobantes
          %li 
            Impresión de estados de cuenta, facturas y recibos preimpresos
          %li 
            Manejo y control expedito de la refacturación a particulares y convenios
          %li 
            Captura e impresión de corte de caja por cajero e impresión del reporte diario con conciliación entre lo reportado por el cajero y lo registrado por paciente
          %li 
            Impresión de reportes diarios y mensuales de facturación por convenio y por grupos de cargo, consecutivo de facturas y de cuentas no-facturadas durante el período  (diario y mensual)
          %li 
            Impresión de reporte diario de saldos por cuarto
          %li 
            Manejo de multicompañías (varias razones sociales)
          %li 
            Actualización de la tabla de precios (para convenio y particulares) 
          %li 
            Pantallas de consulta para apoyo de los servicios


  .row
    .expander
      .text       
        5. MODULO DE COBRANZAS
        %ul
          %li
            Agrupamiento de facturas en una relación e impresión de la relación para cobro 
          %li
            Actualización y control de datos y fechas de revisión, promesa de pago, pago y contrarecibos
          %li
            Actualización de pagos de empresas y control de saldos por empresa
          %li
            Impresión de reportes de cobranza, pronóstico y relaciones pendientes
          %li
            Pantallas de consulta para apoyo al servicio

  .row
    .expander
      .text       
        6. MODULO DE CENTRAL DE ENFERMERAS
        %ul
          %li
            Generación de solicitudes de estudios de laboratorio e imagenología desde las centrales de enfermería o consultorios
          %li
            Generación de solicitudes de medicamentos y suministros desde las centrales de enfermería o áreas de servicio
          %li
            Consulta y selección de las órdenes dentro del área que proporcionará el servicio o artículo (Laboratorio, Botiquín)
          %li
            Consulta de los resultados de laboratorio desde las centrales de enfermería.
          %li
            Actualización y consulta del status de las órdenes: pendiente, atendida, cancelada.

  .row
    .expander
      .text       
        7. ADMINISTRACION 
        %ul
          %li
            Configuración de todos los catálogos del sistema
          %li
            Configuración de privilegios de acceso a los usuarios
          %li
            Permite la emisión de un gran número de estadísticas médicas y administrativas:
          %li
            Número de pacientes internos, externos, ambulatorios y de urgencias.
          %li
            Número y tipo de visitas a las diferentes áreas de servicio y de la consulta externa.
          %li
            Estadísticas de morbilidad, cirugías por médico, por tipo de cirugía, por edades, sexos, etc.
          %li
            Tratamientos médicos y de inhaloterapia, etc.
          %li
            Estadísticas de ingresos por tipos de pacientes y empresas bancarias, de seguros, etc.
          %li
            Estadísticas administrativas por servicios o cargos a pacientes, etc.
          %li
            Permite la explotación de la base de datos para consultas no-planeadas al permitir exportar cualquier tabla, reporte o consulta de la base de datos hacia Excel, Word, Access o archivos planos.


  .row
    .expander
      .text       
        8. CONSULTA EXTERNA 
        %ul
          %li
            Permite el registro y manejo de pacientes dentro del servicio de consulta externa 
          %li
            Control de citas: se programa la fecha y hora de la consulta y se ingresa la información del paciente y médico. Puede manejar “n” listas o agendas simultáneas de acuerdo a la organización del departamento de consulta externa. 
          %li
            Permite la captura de los signos vitales, la historia clínica, las notas de consulta, la receta y tratamiento y otra información relacionada. 
          %li
            Permite generar solicitudes de estudios diagnósticos al área de laboratorio e imagenología. 
          %li
            Actualización de la información de tratamientos en consulta externa. 
          %li
            Padecimientos anteriores. 
          %li
            Perfil de medicamentos. 
          %li
            Exámenes diagnósticos. 
          %li
            Resultados de consultas. 
          %li
            Historia médica y examen físico. 
          %li
            Solicitud de estudios. 
          %li
            Reservación de quirófanos. 
          %li
            Control de citas. 
          %li
            Actualización del expediente electrónico. 


  .row
    .expander
      .text       
        9. SISTEMA DE RAYOS X E IMAGENOLOGIA (xRay)
        %ul
          %li
            Permite el manejo de pacientes, la interpretación de los estudios y la administración de las diversas funciones de un gabinete de rayos X e imagenología. 
          %li
            Control de citas: se programa la fecha y hora del estudio a realizar y se ingresa la información del paciente y médico. Puede manejar “n” listas o agendas simultáneas de acuerdo a la organización del departamento de imagenología. 

          %li
            Instrucciones de preparación: Se emite automáticamente la información de las instrucciones de preparación del paciente de acuerdo a los estudios solicitados. 

          %li
            Dentro del sistema de imagenología se accesa en forma transparente la información de las ordenes o solicitudes de estudios por piso (central de enfermeras) y se actualiza automáticamente el estado de cuenta del paciente y el expediente clínico.

          %li
            Transcripción de la interpretación del estudio: utilización de documentos “tipo” o machotes para agilizar la transcripción. Se puede seleccionar o crear nuevos documentos machote en cualquier momento. 

  .row
    .expander
      .text       
        10.  INTERFAZ CON CONTABILIDAD GENERAL (GENERAL LEDGER)
        %ul
          %li
            Programas para la interconexión del sistema hospitalario hacia los sistemas contables de la empresa: Ingresos diarios, facturación, cobranzas, entradas y salidas de los almacenes y farmacias.
          %li
            Pueden configurarse las cuentas contables o centros de costos para la exportación de información por medio de archivos ASCII hacia el sistema contable de la empresa.


  .row
    .expander
      .text       
        11. INTERFAZ CON LABORATORIO 
        %ul
          %li
            Para poderles cotizar esta interfaz es necesario analizar el sistema que actualmente tienen y definir que tipo de interfaz requieren ya que pude se de dos formas: 
          %li
            Que su sistema de laboratorio envíe únicamente los resultados al sistema xHosp.
          %li
            Que nuestro sistema envíe las solicitudes de pruebas de laboratorio a su sistema de Laboratorio y una vez procesadas, éste regrese los resultados a nuestro sistema.
          %li
            Para esta interfaz de laboratorio necesitamos platicar con la empresa que desarrollo el software para ver si es factible y como podríamos hacer la interfaz con ellos. 

  .row
    .expander
      .text       
        12. EXPEDIENTE CLINICO ELECTRONICO
        %ul
          %li
            Codificación de diagnósticos de ingreso y egreso
          %li
            Actualización y consulta de datos de la exploración y signos vitales
          %li
            Elaboración de historial clínico 
          %li
            Consulta de movimientos intra-hospitalarios
          %li
            Elaboración y consulta de notas médicas: notas de ingreso, notas de evolución (enfermería), notas de traslado, de cirugía, de anestesia, y de egreso.
          %li
            Consulta de solicitudes y ordenes de estudios diagnósticos (lab/ryx)
          %li
            Consulta de resultados de laboratorio y rayos x

          
