---
title: Módulos xHosp
layout: layoutxhosp
---
.container
  .row
    .span4
      .titlec
        xHosp Módulos del sistema base 
      .text
        %ul
          %li
            Hospitalizados
          %li
            Quirófano
          %li
            Farmacia
          %li
            Facturación
          %li
            Cobranzas
          %li
            Centrales de enfermeras
          %li
            Estadísticas médicas y administración

    .span4
      .titlec
        xHosp Módulos adicionales 
      .text
        %ul          
          %li
            Laboratorio Clínico 
          %li
            Consulta externa 
          %li
            Rayos X e Imagenología
          %li
            Paquetes hospitalarios
          %li
            Pizarrón electrónico de consulta de pacientes hospitalizados
          %li
            Banco de Sangre 
          %li
            Expediente Clínico electrónico
          %li
            Interfaz con Contabilidad General
          %li
            Dietas o nutrición
          %li
            CEYE

