---
title: xHosp
layout: layoutxhosp
---
.row
  .span8
    .title
      xHosp  Sistema integral para la administración hospitalaria<br/>
  .row
    .span4
      %img{:src => "/images/87454334.jpg", :alt => "xHosp"}
    .span5
      .text
        xHosp es un sistema de información hospitalario para el apoyo operacional y el control administrativo integral de un hospital o clínica.<br/>
        
        xHosp es un producto desarrollado totalmente en México. El equipo de desarrollo de xHosp constantemente está generando nuevas versiones del software que contienen funciones adicionales de acuerdo con las sugerencias y necesidades de nuestros clientes.<br/>
          
