---
title: xHosp
layout: layoutxhosp
---
.row
  .title
    xHosp  Sistema integral para la administración hospitalaria<br/>
  .row
    %img{:src => "/images/xhosp.png", :alt => "xHosp"}
  .row
    .text
      <br/>
      xHosp es un sistema de información hospitalario para el apoyo operacional y el control administrativo integral de un hospital o clínica.<br/>
      <br/>
      xHosp es un producto desarrollado totalmente en México. El equipo de desarrollo de xHosp constantemente está generando nuevas versiones del software que contienen funciones adicionales de acuerdo con las sugerencias y necesidades de nuestros clientes.<br/>
      <br/>
      Permite el control administrativo de pacientes hospitalizados durante su internamiento, de pacientes de corta estancia o ambulatorios así como de pacientes externos a una unidad hospitalaria.<br/>
      <br/>
      Ingreso de la información relevante del paciente así como la asignación y control de cuartos dentro del hospital.<br/>
      <br/>
      Controla el acceso del paciente a las diferentes áreas hospitalarias registrando las prestaciones otorgadas al paciente directamente en el servicio donde se otorgaron.<br/>
      <br/>
      Administra la programación y asignación de quirófanos así como el registro de las cirugías (tiempos, suministros y medicamentos).<br/>
      <br/>
      Incluye el control de farmacias para llevar a cabo la entrada de medicamentos y suministros así como el despacho de estos artículos a pacientes, hacia las diferentes áreas hospitalarias o la transferencia de artículos entre las distintas farmacias dentro del hospital.<br/>
      <br/>
      Controla el egreso del paciente registrando el tipo de egreso y sus diagnósticos.<br/>
      <br/>
      Hace posible llevar el control de las transferencias o movimientos de los pacientes entre las diferentes áreas de hospitalización.<br/>
      <br/>
      Incluye el control electrónico del expediente médico: diagnósticos, estudios, movimiento del paciente dentro del hospital, notas médicas, etc.<br/>
      <br/>
      Por medio del sistema se realiza la facturación de pacientes tomando en cuenta en su caso, las características del convenio que se tenga con las diferentes empresas o seguros, así como también el manejo de casos especiales.<br/>
      <br/>
      Controla en forma completa y detallada la cobranza a las empresas con convenios.<br/>
      <br/>
      Permite la explotación de información médica con fines estadísticos o de la información administrativa con fines de control.<br/>
      <br/>
      Por medio de interfaces puede realizarse la transferencia de información administrativa hacia los sistemas contables de la compañía.<br/>
      <br/>
      xHosp fue diseñado desde su inicio como un sistema modular y escalable que puede ser instalado en la mayoría de las instituciones hospitalarias desde clínicas regionales pequeñas hasta los grandes centro médicos institucionales o privados.<br/>

