---
title: Módulos xLab
layout: layoutxlab
---
.container
  .row
    .span4
      .titlec
        xLab Módulos del sistema base 
      .text
        %ul
          %li
            Hospitalizados
          %li
            Quirófano
          %li
            Farmacia
          %li
            Facturación
          %li
            Cobranzas
          %li
            Centrales de enfermeras
          %li
            Estadísticas médicas y administración

    .span4
      .titlec
        xLab Módulos adicionales 
      .text
        %ul          
          %li
            Módulo de resultados por Internet (xLabWeb): consulta de resultados a médicos, empresas y pacientes.
          %li
            Módulo para sucursales (toma de muestras)
          %li
            Interfases con equipos clínicos
          %li
            Control de almacenes
          %li
            Interfaz con Contabilidad General
          %li
            Configuración de catálogos
          %li
            Módulo de facturación electrónica
          








