---
title: xBlood
layout: layoutxblood
---
.row
  .title
    xBlood - Sistema para el manejo de bancos de sangre.<br/>
  .row
    %img{:src => "/images/xblood.png", :alt => "xBlood"}
  .row
    .text
      <br/>
      xLab es un sistema para el apoyo operacional y el control administrativo integral de un laboratorio de análisis clínicos.<br/>
        
      xLab es un producto desarrollado totalmente en México. El equipo de desarrollo de xLab constantemente está generando nuevas versiones del software que contienen funciones adicionales de acuerdo con las sugerencias y necesidades de nuestros clientes.<br/>
          
