---
title: Funcionalidad xLab
layout: layoutxlab
---

.hero-unit
  .row
    .expander
      .textf
        .span3     
          1. RECEPCIÓN DE PACIENTES<br/>
          Aquí se hacer el registro del paciente, desde su llegada allaboratorío.
          %img{:src => "/images/admision.jpg", :alt => "xHosp Admisión"}

        .span4  
          %ul
            %li 
              Registro y recepción de pacientes
            %li 
              Ordenes de pacientes externos
            %li 
              Ordenes de pacientes hospitalizados
            %li 
              Ordenes de pisos (desde quirófanos o centrales de enfermería)
            %li 
              Impresión de hojas de trabajo y etiquetas con código de barras
            %li 
              Cálculo automático de fechas de entrega
            %li 
              Manejo de estudios de urgencia con cargos automáticos configurables
            %li 
              Presupuestos por tipo de cliente o empresa
            %li 
              Instrucciones de preparación al paciente
            %li 
              Control de citas por paciente: agenda diaria y disponibilidad
            %li 
              Control de muestras de patología: diagnóstico y características de la muestra
            %li 
              Cargos extras por domingos, días festivos y urgencias
            %li 
              Hojas de trabajo por prueba o área de trabajo



.hero-unit
  .row
    .expander
      .textf
        .span3     
          2. ORDENES DE PISO<br/>
        .span4  
          %ul
            %li 
              Solicitud de órdenes de laboratorios 
            %li 
              Desde un piso o consultorio 
            %li 
              Consulta de estatus de órdenes solicitadas 
            %li 
              Consulta de resultados
              
.hero-unit
  .row
    .expander
      .textf
        .span3     
          3. RESULTADOS DE ESTUDIOS<br/>
        .span4  
          %ul
            %li 
              Captura de resultados numéricos y tipo texto
            %li 
              Teclas de función programables por cada prueba
            %li 
              Valores de referencia y valores límite de captura configurables por prueba de acuerdo a sexo y edad
            %li 
              Componentes calculados en base a fórmulas configuradas por el usuario
            %li 
              Procesador de palabras interno para resultados tipo texto
            %li 
              Validación de los resultados por el personal autorizado
            %li 
              Formatos de impresión individuales en Word o impresión en formatos genéricos
            %li 
              Control de entrega de los resultados
            %li 
              Consulta de resultados históricos
            %li 
              Nombres cortos y sinónimos para pruebas
            %li 
              Días de procesamiento
            %li 
              Características de las muestras
            %li 
              Componentes y valores de referencia
            %li 
              Múltiples listas de precios
            %li 
              Histórico de precios por prueba
            %li 
              Aumento automático de precios
            %li 
              Descuento o crédito por tipo de cliente
            %li 
              Empresas de seguros
            %li 
              Artículos, almacenes y proveedores


.hero-unit
  .row
    .expander
      .textf
        .span3         
          4. CAJA Y FACTURACION<br/>
        .span4  
          %ul
            %li 
              Control de turnos de caja y cortes de caja
            %li 
              Control de pagos por tipo de pago
            %li 
              Control de saldos por paciente y empresa
            %li 
              Manejo de pacientes de seguro: coaseguros, deducibles y participaciones
            %li 
              Manejo de listas de precios ilimitadas
            %li 
              Manejo de descuentos y/o créditos por empresa y por paciente
            %li 
              Facturación a pacientes y empresas
            %li 
              Refacturación a pacientes y empresas
            %li 
              Módulo de facturación electrónica (opcional)
            %li 
              Programación de quirófanos: Reservación de cirugías<br/>
            %li
              Pagos parciales o totales 
            %li
              Diferentes formas de pago 
            %li
              Control detallado de saldos por paciente 
            %li
              Manejo de múltiples cajas y turnos



.hero-unit
  .row
    .expander
      .textf
        .span3            
          5. ALMACEN<br/>
        .span4  
          %ul
            %li
              Control del inventario de reactivos y suministros 
            %li
              Ordenes de compra manuales y automáticas 
            %li
              Recepción de artículos 
            %li
              Despacho hacia áreas de servicio o sucursales 
            %li
              Control de fechas de vencimiento y lotes 
            %li
              Manejo de múltiples almacenes 
            %li
              Inventarios físicos 
.hero-unit
  .row
    .expander
      .textf
        .span3         
          6. EMPRESAS<br/>
        .span4  
          %ul
            %li 
              Ordenes de laboratorio por empresa
            %li 
              Consolidación de órdenes por empresa
            %li 
              Manejo de pagos por empresa con control de saldos a detalle
            %li 
              Pagos pendientes de aplicar por empresa (saldos a favor)
            %li 
              Manejo de promociones por empresa y tipo de prueba
            %li 
              Cargos automáticos configurables (material, mensajería, etc.)
            %li 
              Fichas de depósito bancarias


.hero-unit
  .row
    .expander
      .textf
        .span3         
          7. CONTROL DE CALIDAD<br/>
        .span4  
          %ul
            %li
              Control de calidad interno: configuración de analitos y recativos de control, corridas de control y gráficas de Levey-Jennings
            %li
              Control de calidad externo: documentación y comparativo de resultados de los programas de control de calidad externo.

            %li
              Aseguramiento de la calidad de los resultados de laboratorio 
            %li
              Presentación de alarmas para resultados fuera de control 
            %li
              Registro de reactivos de control 
            %li
              Registro de valores teóricos de media y desviación estándar 
            %li
              Método y unidades de medida 
            %li
              Configuración de intervalos de aceptabilidad o reglas de Westgard 
            %li
              Generación de gráficas de Levy-Jennings 
            %li
              Captura de información relevante de los diferentes programas de control de calidad externo 
            %li
              Reactivos y suministros promedio utilizados por prueba 
            %li
              Comparación con la utilización real de acuerdo al número de pruebas realizadas 
.hero-unit
  .row
    .expander
      .textf
        .span3         
          8. MODULO CONTROL DE MAQUILAS Y MANEJO DE SUCURSALES<br/>
        .span4  
          %ul
            %li
              Laboratorios de referencia y pruebas que se envían a cada laboratorio: precios, características y tiempos de entrega
            %li
              Generación de órdenes o solicitudes a cada laboratorio maquilador
            %li
              Calificación de maquiladores de acuerdo a criterios de calidad, tiempos de proceso y costos 
            %li
              Manejo de listas de precios por cada maquilador 
            %li
              Selección óptima del laboratorio para envío de cada muestra 
            %li
              Impresión, control y seguimiento de órdenes de trabajo 
            %li
              Manejo de alarmas para resultados tardíos 
            %li
              Conciliación y generación de órdenes de pago por maquilador 
            %li
              Control de entrega de pruebas enviada a maquila
            %li
              Catálogo de laboratorios solicitantes: clientes y sucursales
            %li
              Captura, revisión, impresión y entrega de resultados de laboratorios solicitantes y sucursales
            %li
              Envío electrónico de información de órdenes y resultados entre los laboratorios de procesamiento y los laboratorios solicitantes y las sucursales 


.hero-unit
  .row
    .expander
      .textf
        .span3         
          9. REPORTES Y CONSULTAS<br/>
        .span4  
          %ul
            %li
              Reportes administrativos: cortes de caja, pacientes por día, pacientes por médico, por empresa, facturación, saldos detallados, consecutivos de facturas, ingresos, ventas estadísticas administrativas, etc.
            %li
              Reportes operativos: hojas de trabajo por área, libro diario de control de resultados, estadística de estudios efectuados, catálogo de pruebas, etc.
            %li
              Consultas: seguimiento detallado por orden y estudios, órdenes de paciente, pendientes de muestra, pendientes de resultados, pendientes de revisión, pendientes de impresión o pendientes de entrega, etc.

.hero-unit
  .row
    .expander
      .textf
        .span3         
          10. CONSULTA DE RESULTADOS POR INTERNET (xLabWeb)<br/>
          La consulta de resultados se puede hacer por medio de internet
        .span4  
          %ul
            %li
              Resultados de laboratorio 
            %li
              Estado de las órdenes de laboratorio 
            %li
              Panel de control para consulta de condiciones de alarma o estatus de la operación del laboratorio


.hero-unit
  .row
    .expander
      .textf
        .span3         
          11. SEGURIDAD Y UTILERIAS<br/>
          En este módulo contamos con las herramientas necesarias para
        .span4
          %ul
            %li
              Aumentos automáticos de precios con fecha de aplicación
            %li
              Copia de listas de precios
            %li
              Consolidación de cuentas por empresa
            %li
              Módulo de panel de control: indicadores y alarmas operativas
            %li
              Exportación e importación de catálogos entre sucursales
            %li
              Control de acceso por usuario a 3 niveles
            %li
              Manejo de múltiples razones sociales

