---
title: xLab
layout: layoutxlab
---
.row
  .title
    xLab Sistema para el control y operación de <br/>laboratorios clínicos.<br/>
  .row
    %img{:src => "/images/xlab.png", :alt => "xLab"}
  .row
    .text
      <br/>
      xLab es un sistema para el apoyo operacional y el control administrativo integral de un laboratorio de análisis clínicos.<br/>
      <br/>
      xLab es un producto desarrollado totalmente en México. El equipo de desarrollo de xLab constantemente está generando nuevas versiones del software que contienen funciones adicionales de acuerdo con las sugerencias y necesidades de nuestros clientes.<br/>
      <br/>
      xLab proporciona una herramienta eficiente para el manejo de pacientes, sus resultados y la administración de las diversas funciones de un laboratorio. Cuenta con un acceso controlado para compartir la información de los pacientes así como para la transcripción de resultados, la facturación de los cargos del laboratorio y su cobranza en forma expedita. Incluye un control de inventarios para el manejo de los suministros utilizados dentro del servicio.<br/>
      <br/>
      Permite la captura de resultados tanto de tipo numérico como textual con diversas herramientas de ayuda como captura guiada, teclas de función programables, etc.<br/>
      <br/>
      El sistema xLab tiene la capacidad de conectarse a un sistema hospitalario de forma automática o por medio de interfaces para accesar o actualizar la información de pacientes, el expediente clínico así como la información administrativa de facturación y cobranza.<br/>
      <br/>
      También hace posible la utilización de interfaces para la conexión y transferencia automática de información desde equipos clínicos automatizados.<br/>


          
