---
title: Virtus Medical
---
.row
  .span10.offset1
    .text
      BIENVENIDOS<br/>
      Virtus Medical es una empresa 100% mexicana enfocada en el desarrollo de software para el sector médico, hospitalario y de diagnóstico con más de 20 años de experiencia en este sector.<br/>
      Hemos desarrollado los siguientes sistemas:<br/>

<br/>
.row
  .span3
    .hero-unit
      %a{:href => "/xhosp/xhosp.html"}
        %img{:src => "/images/XHosp-Medium.jpg", :alt => "xHosp"}
      xHosp<br/> Sistema integral para la administración hospitalaria.<br/>
      <br/>

  .span3
    .hero-unit
      %a{:href => "/xlab/xlab.html"}
        %img{:src => "/images/XLab-Medium.jpg", :alt => "xLab"}
      xLab<br/> Sistema para el control y operación de laboratorios clínicos<br/>
      
  .span3
    .hero-unit
      %img{:src => "/images/XBlood-Medium.jpg", :alt => "xRay"}
      xRay<br/> Sistema para el control y operación de gabinetes de imagenología<br/>

  .span3
    .hero-unit
      %img{:src => "/images/XBlood-Medium.jpg", :alt => "xRay"}
      xBlood<br/> Sistema para el manejo de bancos de sangre<br/>
      <br/>

  
